<form action="/api/payments/create-checkout-session" method="POST">
  <!-- Add a hidden field with the lookup_key of your Price -->
  <input type="hidden" name="lookup_key" value="price_1PFHWNHSExnASLrOzMDF6Sq5" />
  <button id="checkout-and-portal-button" type="submit">Checkout</button>
</form>


<h1>Portal de stripe</h1>
<form action="/create-portal-session" method="POST">
  <input type="hidden" id="session-id" name="session_id" value="" />
  <button id="checkout-and-portal-button" type="submit">Manage your billing information</button>
</form>
<style>
  h1{
    color: red
  }
</style>
<script>
document.addEventListener('DOMContentLoaded', async () => {
  let searchParams = new URLSearchParams(window.location.search);
  if (searchParams.has('session_id')) {
    const session_id = searchParams.get('session_id');
    document.getElementById('session-id').setAttribute('value', session_id);
  }
});

</script>