<body>
	<div class="navigation">
		<div class="nav-item">
			<svg class="icon" role="presentation" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" aria-hidden="true" focusable="false">
				<path d="M9.213 8.69h-2.42A5.298 5.298 0 001.5 13.98l.5.5h12l.5-.5a5.297 5.297 0 00-5.287-5.29zM2.53 13.48a4.298 4.298 0 014.263-3.79h2.42a4.297 4.297 0 014.25 3.79H2.53zM8.012 8a3.5 3.5 0 100-7 3.5 3.5 0 000 7zm0-6a2.5 2.5 0 110 5 2.5 2.5 0 010-5z"></path>
			</svg>
			<a href="/service">
				<span class="nav-text">Mis compras</span>
			</a>
		</div>
		<div class="nav-item">
			<svg class="icon" role="presentation" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" aria-hidden="true" focusable="false">
				<path d="M13 2h-1.5v-.5L11 1H5l-.5.5V2H3l-.5.5V14l.5.5h10l.5-.5V2.5L13 2zM5.5 2h5v1h-5V2zm7 11.5h-9V3h1v.5L5 4h6l.5-.5V3h1v10.5z"></path>
				<path d="M7.978 5.172H4.643v1h3.335v-1zM11.357 7.261H4.643v1h6.714v-1zM11.357 9.351H4.643v1h6.714v-1z"></path>
			</svg>
			<a href="/account">
				<span class="nav-text">Mi cuenta</span>
			</a>
		</div>
	</div>
</body>

<style>
	.navigation {
		background-color: #1A202C;
		color: #FFFFFF;
		height: 100vh;
		width: 9rem;
		font-size: 1.125rem;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		padding: 0;
		font-family: sans-serif;
		padding-top: 1rem;
		border-top: 2px solid;
		margin-left: -426px;
		margin-top: -80px
	}

	.nav-item {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		margin-bottom: 1rem;
		margin-left: 0;
		margin-top: 0;
	}

	.icon {
		width: 2.5rem;
		height: 2.5rem;
		color: #48BB78;
	}

	.nav-text {
		vertical-align: middle;
	}
</style>
