<div class="test-coverage mt-40 p-4 flex justify-center items-center rounded-xl bg-gradient-to-t from-[#9dda27] to-[#b7ff2e] border-2 border-[#c7ff8b] gap-16">
	<svg
	  width="48"
	  height="48"
	  viewBox="0 0 16 16"
	  fill="none"
	  xmlns="http://www.w3.org/2000/svg"
	  class="c-feEnhf"
	>
	  <path
		d="M13.2 6.37146C13.2 9.18546 11.2447 10.8041 9.77935 12.3715C9.20477 12.9987 8.67691 13.6671 8.20001 14.3715C7.7248 13.6684 7.19825 13.0015 6.62468 12.3761C5.15935 10.8095 3.20001 9.18813 3.20001 6.37146C3.20001 5.04538 3.7268 3.77361 4.66448 2.83593C5.60216 1.89824 6.87393 1.37146 8.20001 1.37146C9.52609 1.37146 10.7979 1.89824 11.7355 2.83593C12.6732 3.77361 13.2 5.04538 13.2 6.37146V6.37146Z"
		stroke="#1e1e1e"
		stroke-linecap="round"
		stroke-linejoin="round"></path>
	  <path
		d="M8.20001 8.37146C9.30458 8.37146 10.2 7.47603 10.2 6.37146C10.2 5.26689 9.30458 4.37146 8.20001 4.37146C7.09544 4.37146 6.20001 5.26689 6.20001 6.37146C6.20001 7.47603 7.09544 8.37146 8.20001 8.37146Z"
		stroke="#1e1e1e"
		stroke-linecap="round"
		stroke-linejoin="round"></path>
	</svg>
	<p class="text-[#1e1e1e] font-bold">COMPRUEBA TU COBERTURA DE FIBRA</p>
	<button class="outline-none border-black bg-transparent font-inherit leading-normal appearance-none box-border flex justify-center items-center border-solid transition-all ease-linear duration-300 cursor-pointer font-semibold rounded-lg w-fit px-8 py-4 border border-[#1e1e1e] text-[#1e1e1e] hover:bg-black hover:text-white hover:border-black">
	  Consultar
	</button>
  </div>
  