<div class="data-container">
	<h1 class="header text">Las cifras que nos avalan</h1>
	<div class="data-set-container">
		<div class="data-set">
			<p class="description font-atomic">desde</p>
			<h2 class="number">2019</h2>
			<p class="description font-atomic">ofreciéndote el mejor servicio</p>
		</div>
		<div class="data-set">
			<p class="description font-atomic" ">más de</p>
			<h2 class="number">1.000.000</h2>
			<p class="description font-atomic" ">de clientes ya confían en nosotros</p>
		</div>
		<div class="data-set">
			<p class="description font-atomic" ">más de</p>
			<h2 class="number">3.800</h2>
			<p class="description font-atomic" ">puntos de venta</p>
		</div>
	</div>
</div>
<style>
	.data-container {
		font-family: "Druk";
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		height: 10vh;
		margin: 0;
		color: #f1f1f1;
		margin-top: 10rem;
	}
	.data-container header {
		text-align: center;
		font-weight: bold;
		margin-bottom: 2rem;
	}
	.text {
    font-size: 2.4rem;
    padding: 0.5rem 1rem;
    color: #313131;
    background-color: #b7ff2e;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 900;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
	}

	.data-set-container {
		display: flex;
		justify-content: space-around;
		width: 100%;
		margin-top: 1.5rem;
	}
	.data-set {
		text-align: left;
	}
	.data-set .number {
		margin: 0;
		font-size: 2.6em;
		font-weight: bold;
		color: #b7ff2e;
	}
	.data-set .description {
		margin: 0;
		font-size: 1.1rem;
	}
</style>
