---

---

<div class="container-features top">
	<div class="text-features">
		<img
			src="https://media.discordapp.net/attachments/1183166779732791306/1218253715782504569/simcard.png?ex=6606fe2f&is=65f4892f&hm=7546467677f69eac68a2f7f41cbbe2c739aaa00a1fa47c1835d3c1fdf4a60c32&=&format=webp&quality=lossless&width=30&height=30"
			alt="Icon 1"
			class="icon-features fitem_1"
		/>
		<p>Los mejores servicios al mejor precio</p>
	</div>
	<div class="text-features">
		<img
			src="https://media.discordapp.net/attachments/1183166779732791306/1218253715782504569/simcard.png?ex=6606fe2f&is=65f4892f&hm=7546467677f69eac68a2f7f41cbbe2c739aaa00a1fa47c1835d3c1fdf4a60c32&=&format=webp&quality=lossless&width=30&height=30"
			alt="Icon 1"
			class="icon-features fitem_1"
		/>
		<p>La mejor cobertura</p>
	</div>
	<div class="text-features">
		<img
			src="https://media.discordapp.net/attachments/1183166779732791306/1218253715782504569/simcard.png?ex=6606fe2f&is=65f4892f&hm=7546467677f69eac68a2f7f41cbbe2c739aaa00a1fa47c1835d3c1fdf4a60c32&=&format=webp&quality=lossless&width=30&height=30"
			alt="Icon 1"
			class="icon-features fitem_1"
		/>
		<p>Acumula gb</p>
	</div>
	<div class="text-features">
		<img
			src="https://media.discordapp.net/attachments/1183166779732791306/1218253715782504569/simcard.png?ex=6606fe2f&is=65f4892f&hm=7546467677f69eac68a2f7f41cbbe2c739aaa00a1fa47c1835d3c1fdf4a60c32&=&format=webp&quality=lossless&width=30&height=30"
			alt="Icon 1"
			class="icon-features fitem_1"
		/>
		<p>comparte gb</p>
	</div>
</div>

<style>
	.container-features {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}

	.text-features {
		text-align: center;
		flex: 1 0 200px;
		min-height: 150px;
		color: azure;
	}

	.icon-features {
		width: 20%;
		height: 50px;
		display: flex;
		margin-left: 5.5rem;
	}
	.top {
		margin-top: 8rem;
	}
	p {
		font-size: 0.94rem;
		font-weight: 800;
	}

	@media (max-width: 600px) {
		.container {
			flex-direction: column;
			justify-content: flex-start;
		}
		.icon-text {
			flex: 1 0 100%;
		}
	}
</style>
