<nav id="top-bar" class="fixed top-0 w-full bg-black text-white ml-[-420px]">
    <div class="flex justify-between items-center w-full px-0 py-1">
        <div class="flex">
            <b>
                <button class="bg-white text-black border-none py-3 px-6 text-sm cursor-pointer rounded-b-md focus:outline-none">
                    Particulares
                </button>
                <a href="/business" class="text-white bg-black py-4 px-6 text-sm cursor-pointer no-underline">Autónomos y Empresas</a>
            </b>
        </div>
        <div class="flex items-center">
            <div class="flex items-center px-0 text-white">
                <a href="/coverage" class="px-3 text-[16px] no-underline text-white">Nuestra cobertura</a>
                <span class="px-2 text-gray-400 text-[16px]">|</span>
                <a href="/tikets" class="text-[16px] no-underline text-white">¿Necesitas ayuda?</a>
            </div>

            <div class="bg-[#9ef100] text-black py-1 px-2 flex items-center rounded">
                <a class="flex items-center no-underline font-bold text-sm text-black" href="tel:000000">
                    <svg width="2.3rem" height="2.3rem" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M35.5977 52.7373L35.5029 52.8321L36.0633 52.0039C24.5632 44.222 14.6552 34.3115 6.87629 22.8093L6.8227 22.7301L6.81309 22.7205C5.48988 20.5999 4.91585 18.098 5.18432 15.6165C5.45661 13.0997 6.57927 10.7543 8.36646 8.96723L10.0603 7.27342C10.6291 6.70457 11.4018 6.38524 12.2089 6.38652C13.0162 6.3878 13.7918 6.7098 14.3645 7.28251L21.524 14.442C22.0967 15.0147 22.4187 15.7903 22.42 16.5976C22.4212 17.4047 22.1019 18.1774 21.5331 18.7462C20.5877 19.6916 20.0583 20.9746 20.0604 22.3123C20.0625 23.6498 20.5958 24.9326 21.5422 25.8789L32.9973 37.3341C33.9436 38.2804 35.2264 38.8137 36.5639 38.8158C37.9016 38.8179 39.1846 38.2885 40.13 37.3431C40.6988 36.7743 41.4715 36.455 42.2786 36.4562C43.0859 36.4575 43.8615 36.7795 44.4342 37.3522L51.5937 44.5117C52.1664 45.0844 52.4884 45.86 52.4897 46.6673C52.491 47.4744 52.1716 48.2471 51.6028 48.8159L49.909 50.5097L49.9087 50.5101C48.1218 52.2987 45.776 53.4225 43.2584 53.6955C40.7407 53.9684 38.2018 53.3741 36.0614 52.0098L35.5977 52.7373Z" stroke="white" stroke-width="3" stroke-linecap="square"></path>
                    </svg>
                    <p class="ml-2 text-center">
                        <span>Te atendemos </span><br>
                        <span>24/7</span>
                    </p>
                </a>
            </div>
        </div>
    </div>
</nav>
