<div class="mt-40 flex flex-col w-[340px] h-auto rounded-lg overflow-hidden items-center mx-auto p-7 text-center border-2 border-[#c7ff8b] lg:flex-row lg:w-full lg:h-[315px] lg:justify-between">
  <div class="flex flex-col justify-center text-[#1e1e1e] space-y-3 lg:w-[60%]">
    <p class="text-white text-3xl font-bold">Recomienda a un amigo y gana hasta</p>
    <p class="text-[#84ff00] text-7xl font-atomic">45€</p>
    <p class="text-[#e2e2e2] text-xl">Invita a todos tus amigos que puedas; ¡ganarán ambos y las posibilidades son ilimitadas!</p>
  </div>
  <button class="affiliated-button border-2 border-accent text-white font-bold py-3 px-6 rounded-md w-full mt-6 lg:w-auto lg:mt-0 lg:py-4 lg:px-8 transition-all duration-300 ease-in-out transform active:scale-90 hover:bg-black hover:text-white hover:border-black">
    Vamos!
  </button>
</div>
