---

---

<div class="moreinfo font-semibold">
	<p>Nosotros</p>
</div>

<div class="fcontainer">
	<div class="fitem_1">
		<img
			class="iphone14pro"
			src="https://www.apple.com/v/iphone/home/bk/images/chapternav/iphone_14_pro_light__dfhcc00ur2oi_large.svg"
			alt=""
		/>
		<span class="label">iPhone 14 Pro</span>
	</div>
	<div class="fitem_2">
		<img
			src="https://www.apple.com/v/iphone/home/bk/images/chapternav/iphone_14_light__fwknsxkf80uq_large.svg"
			alt=""
		/>
		<span class="label">iPhone 14</span>
	</div>
	<div class="fitem_3">
		<img
			src="https://www.apple.com/v/iphone/home/bk/images/chapternav/iphone_13_light__ewo3e0sf67o2_large.svg"
			alt=""
		/>
		<span class="label">iPhone 13</span>
	</div>
	<div class="fitem_4">
		<img
			src="https://www.apple.com/v/iphone/home/bk/images/chapternav/iphone_se_light__fhg8duy6ffau_large.svg"
			alt=""
		/>
		<span class="label">iPhone SE</span>
	</div>
	<div class="fitem_5">
		<img
			src="https://www.apple.com/v/iphone/home/bk/images/chapternav/iphone_12_light__cxh2ll1zwpw2_large.svg"
			alt=""
		/>
		<span class="label">iPhone 12</span>
	</div>
	<div class="fitem_6">
		<img
			src="https://www.apple.com/v/iphone/home/bk/images/chapternav/iphone_compare_light__f4jj7brpbvm2_large.svg"
			alt=""
		/>
		<span class="label">Compare</span>
	</div>
	<div class="fitem_7">
		<img
			src="https://www.apple.com/v/iphone/home/bk/images/chapternav/airpods_light__8oj157p2476a_large.svg"
			alt=""
		/>
		<span class="label">AirPods</span>
	</div>
	<div class="fitem_8">
		<img
			src="https://www.apple.com/v/iphone/home/bk/images/chapternav/airtag_light__cb2bmnv6aoeu_large.svg"
			alt=""
		/>
		<span class="label">AirTag</span>
	</div>
	<div class="fitem_9">
		<img
			src="https://www.apple.com/v/iphone/home/bk/images/chapternav/accessories_light__ed5l6ipsevqu_large.svg"
			alt=""
		/>
		<span class="label">Accessories</span>
	</div>
	<div class="fitem_10">
		<img
			src="https://www.apple.com/v/iphone/home/bk/images/chapternav/iphone_ios_light__b8s4ws8o77iq_large.svg"
			alt=""
		/>
		<span class="label">iOS 16</span>
	</div>
	<div class="fitem_11">
		<img
			src="https://www.apple.com/v/iphone/home/bk/images/chapternav/shop_iphone_light__b2toggskllle_large.svg"
			alt=""
		/>
		<span class="label">Shop iPhone</span>
	</div>
</div>

<style>
	.moreinfo {
		width: 20%;
		margin-top: 3rem;
		background: #d2d2d7;
		height: 50px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 10px 10px 0px 0px;
		margin-left: 27rem;
	}

	.moreinfo p {
		font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue", "Helvetica",
			"Arial", sans-serif;
		font-size: 14px;
		color: rgba(0, 0, 0, 0.8);
	}
	.moreinfo p a {
		text-decoration: none;
		color: #5171e3;
	}
	.moreinfo p a:hover {
		border-bottom: 1px solid #5171e3;
	}

	.content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-bottom: 8px;
	}
	.content .iphone12desc {
		margin-top: 43px;
		margin-bottom: 13px;
	}
	.content .iphone12desc img {
		width: 255px;
	}

	.iphone12-links a {
		font-family: "Fira Sans", sans-serif;
		font-size: 21px;
		text-decoration: none;
		color: rgb(81 114 232);
		margin-right: 10px;
		margin-left: 12px;
	}

	.iphone12-links a:hover {
		border-bottom: 1px solid #5171e3;
	}

	.content .iphone12img {
		margin-top: 22px;
	}

	.content .iphone12img img {
		width: 764px;
	}

	.content2 {
		background-color: black;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-bottom: 10px;
	}
	.content2 .prodesc {
		margin-top: 33px;
		margin-bottom: 13px;
	}

	.content2 .prodesc img {
		width: 370px;
	}

	.content2 .proimg {
		margin-top: 22px;
		position: relative;
		left: 37px;
	}

	.content2 .proimg img {
		width: 800px;
	}

	.bag-items {
		display: none;
		filter: blur(0px);
		z-index: 10;
	}

	.bag-items {
		width: 200px;
		position: fixed;
		top: 50px;
		right: 150px;
		display: flex;
		align-items: center;
		flex-direction: column;

		transition: 0.5s;
		border-radius: 10px;
		border: 1px solid #d2d2d7;
		display: none;
		filter: blur(0px);
		z-index: 10;
	}

	.bag-items ul {
		list-style-type: none;
	}

	.bag-items ul li a {
		text-decoration: none;
		color: #6666d1;
	}

	.bag-items ul li {
		box-sizing: border-box;
		padding: 11px;
		padding-left: 28px;
		width: calc(100% - 20px);
		display: block;
		border-top: 1px solid #d2d2d7;
		margin: 0px 10px;
	}

	.bag-items p {
		text-align: center;
		padding: 25px 0px;
		width: 100%;
	}

	#footer {
		padding: 20px 0 20px 0;
		text-align: center;
		background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%, transparent 100%);
	}

	hr {
		width: 70%;
		margin-left: auto;
		margin-right: auto;
		background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%, transparent 100%);
	}
	.fcontainer {
		display: flex;
		align-items: center;
		background: linear-gradient(to bottom, rgba(188, 255, 2, 0.808) 0%, transparent 100%);
		justify-content: space-between;
		align-items: center;
		padding-left: 170px;
		padding-right: 170px;
		padding-bottom: 35px;
		padding-top: 10px;
		overflow-x: auto;
		overflow-y: hidden;
		border-radius: 10px;
	}

	.fitem.label {
		display: block;
	}

	.fitem.img {
		height: 54px;
	}

	.label {
		font-size: 12px;
		line-height: 1.3333733333;
		font-weight: 400;
		/* letter-spacing: -0.01em; */
		font-family:
			SF Pro Text,
			SF Pro Icons,
			Helvetica Neue,
			Helvetica,
			Arial,
			sans-serif;
		display: block;
		align-items: center;
		/* margin: 0; */
		cursor: pointer;
	}

	.label:hover {
		color: blue;
	}
	.fitem_1 img {
		padding: 20px;
		padding-top: 0;
		padding-bottom: 0;
	}
	.fitem_2 img {
		padding: 10px;
		padding-top: 0;
		padding-bottom: 0;
	}
	.fitem_3 img {
		padding: 10px;
		padding-top: 0;
		padding-bottom: 0;
	}
	.fitem_4 img {
		padding: 18.5px;
		padding-top: 0;
		padding-bottom: 0;
	}
	.fitem_5 img {
		padding: 15px;
		padding-top: 0;
		padding-bottom: 0;
	}

	.fitem_6 img {
		padding: 3px;
		padding-top: 0;
		padding-bottom: 0;
	}
	.fitem_7 img {
		padding: 2px;
		padding-top: 0;
		padding-bottom: 0;
	}
	.fitem_8 img {
		padding: 2px;
		padding-top: 0;
		padding-bottom: 0;
	}
	.fitem_9 img {
		padding: 10px;
		padding-top: 0;
		padding-bottom: 0;
	}
	.fitem_10 img {
		padding: 2px;
		padding-top: 0;
		padding-bottom: 0;
	}

	.fitem_11 img {
		padding: 7.6px;
		padding-top: 0;
		padding-bottom: 0;
	}
</style>
